.filterform {
    background: #eee;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        width: 48%;
        float: left;
        height: 46px;
        font-size: 14px;
        border-radius: 8px;
        cursor: pointer
    }

    label.title {
        width: 100%;
        float: left;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    button.btn.btn-primary {
        width: 48%;
        float: right;
        height: 46px;
        font-size: 14px;
        border-radius: 8px;
        background: #2aa22a;
        color: #FFF;
        cursor: pointer;
    }

    section.price-section{
        width: 100%;
        float: left;
        background: #FFF;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 10px;

        .form-group {
            width: 100%;
            float: left;
            position: relative;
            margin-bottom: 15px;
    
            label {
                font-size: 14px;
                background: #FFF;
                position: absolute;
                left: 16px;
                top: -7px;
                color: #111;
            }
    
            input{
                display: block;
                width: 100%;
                height: 42px;
                padding: 6px 6px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #BABABA;
                border-radius: 6px;
                box-sizing: border-box;
            }
        }        
    }
 
    .booking-class{
        width: 100%;
        float: left;
        background: #FFF;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
}